/*slider*/
.slider{
	position:relative;
	overflow:hidden;
}
.items{
	background:#999;
	position:relative;
	padding:15px;
}
.i_wrap{
	position:absolute;top:0;
}
/*E[foo="bar"]*/
.nav_buttons{position:absolute;height:99%;width:99%;z-index:2;}
.nav_buttons .btn{position:absolute;	}
div[data-dir="vertical"] .bt1{top:0px;}
div[data-dir="vertical"]  .bt2{bottom:0px;}
div[data-dir="horizontal"] .bt1{top:50%;left:0px!important;}
div[data-dir="horizontal"] .bt2{right:0px;top:50%!important;}
/*slider ends*/